/*global*/
body {

    font-family:Arial;
    text-align:justify;
    word-wrap:normal;
}   
    a{
        text-decoration:none;
        color: black;
    }
    img{
        
        max-width: 
}

p{  word-wrap:normal;
    text-align:left;
    color:blue;
    line-height: 2;
    
}

div{

    font-size: medium;
    background-color: black;
    color:black;
}
/*utilities*/

.container{
    width: 80%;
    margin-left: 20px;
    margin-right: auto;
}

.btn-more{
display:inline-block;
padding:10px;
margin-top: 20px;
margin-bottom: 20px;
background-color: black;
color: white;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 2px;

}
.text-b{

    font weight: bold;

    main-flex {

        display: flex;
        
        
    }

/*headers*/
.header-init{

background-image: url{ ./img/banner.jpg};
background-size: cover;
text-align: center;
color: white;
height: 200px;


}

}

    background-color: black;
    background-size: cover;
    text-align:center;
    color: white;
    height: 200px;
    text font-size-adjust: font-size: height: 10%;

}


    



}

menu

a{
    color: white;

}

    /*contact*/

    .contact-container {
display:flex;
flex-direction:column
    }

  .img-container{
margin: bottom 10px

.input-container textarea{
    width:70%;
p   adding: 3px;

}

  }
  .form-container {
   
    padding: 20px;
    margin-top: 40px;
    background-color: white;
  }
  .input-container label {
    dsplay: inline-block;
    width: 100px;
    text-align:right

  }